<mat-card>
  <mat-card-content>
    <div *ngIf="questions.length > 0">
      <h2>{{ questions[currentQuestionIndex]?.question }}</h2>
      <mat-radio-group [(ngModel)]="selectedAnswer">
        <mat-radio-button *ngFor="let option of getOptions()" [value]="option">{{ option }}</mat-radio-button>
      </mat-radio-group>
      <button mat-button (click)="previousQuestion()" *ngIf="currentQuestionIndex > 0">Atrás</button>
      <button mat-button (click)="nextQuestion()" *ngIf="currentQuestionIndex < questions.length - 1">Siguiente</button>
      <button mat-button (click)="finish()" *ngIf="currentQuestionIndex === questions.length - 1">Terminar</button>
    </div>
  </mat-card-content>
</mat-card>
