<div class="container">
  <mat-card>
    <mat-card-content>
      <div *ngIf="questions.length > 0">
        <div class="container2">
          <h2>{{ actualNumber + "." }} {{ questions[currentQuestionIndex].question }}</h2>
        </div>
        <div class="error-message" id="elementId" style="text-align: left;align-content: left;"><b>Debes seleccionar una respuesta *</b></div>
          <mat-radio-group [(ngModel)]="questions[currentQuestionIndex].answer" name="answer" required>
            <mat-radio-button *ngFor="let option of getOptions()" [value]="option">{{ option }}</mat-radio-button>
          </mat-radio-group>
        <mat-card-content>
          <button class="button-card" mat-raised-button color="primary" (click)="nextQuestion()">Siguiente</button>
        </mat-card-content>
      </div>
    </mat-card-content>
  </mat-card>
</div>
