mat-card {
  max-width: 605px;
  margin: 0 auto;
  padding: 20px;
}

mat-card-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  align-self: center;
}

.button-card {
  width: 100%;
  margin-top: 5%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container2 {
  display: flex;
  justify-content: center;
  height: 15vh;
  text-align: justify;
  word-break: break-word;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  mat-card {
    margin-top: 50px;
    padding: 15px;
  }

  mat-card-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  mat-card {
    margin-top: 30px;
    padding: 10px;
  }

  mat-card-title {
    font-size: 18px;
  }

  .container {
    height: auto;
    padding: 20px;
  }

  .container2 {
    height: auto;
    padding: 10px;
  }
}
