mat-card {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 100px;
  padding: 20px;
}

mat-card-title {
text-align: center;
font-size: 24px;
font-weight: bold;
margin-bottom: 20px;
}

form {
display: flex;
flex-direction: column;
gap: 10px;
}

button {
align-self: center;
}
.button-card {
  display: flex;
  justify-content: right;
  align-items: right;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh; /* Ajusta la altura según tus necesidades */
}
.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh; /* Ajusta la altura según tus necesidades */
}