<div class="toolbar-container">
    <mat-toolbar class="toolbar" color="primary">
        <span class="welcome-title">Sistema de evaluación de tipos de inteligencia mediante el algoritmo de
            Euclides</span>
    </mat-toolbar>
</div>

<mat-card class="welcome-card">
    <mat-card-content>
        <p class="welcome-text">¡Descubre tus Inteligencias!</p>
        <p class="welcome-text">Este emocionante test te ayudará a descubrir y explorar tus diferentes tipos de
            inteligencia. A medida que avances, se te presentarán una serie de preguntas y deberás seleccionar la opción
            que mejor represente tu forma de pensar y actuar.</p>
        <p class="welcome-text">Cada pregunta está diseñada para evaluar diferentes aspectos de tu inteligencia y al finalizar, obtendrás un análisis detallado sobre los diferentes tipos de inteligencia en los que destacas.

        </p>
        <p class="welcome-text">¡Prepárate para desafiar tu mente y descubrir tus talentos ocultos! ¡Comienza ahora
            mismo y disfruta de esta fascinante experiencia de autoconocimiento!</p>
        <mat-grid-list cols="2" rowHeight="200px" gutterSize="16px" class="intelligence-list">
            <mat-grid-tile *ngFor="let intelligence of intelligences">
                <button mat-button>
                    <img [src]="intelligence.image" width="600" height="150">
                    {{ intelligence.name }}
                </button>
            </mat-grid-tile>
        </mat-grid-list>
        <div class="start-button">
            <button mat-raised-button color="primary" routerLink="/formulario">Vamos</button>
        </div>
    </mat-card-content>
</mat-card>